In [165]:
import os
import pandas as pd

In [247]:
#. Load the Test Data.
my_df=pd.read_csv("C:\\Users\\Hp\\Downloads\\Imports_Exports_Dataset.csv")

In [249]:
#  Display the Dimensions of Test Data.
my_df.shape

(15000, 16)

In [251]:
#  Create a Unique Sample of 20 Observations using Student Roll Number as Random State.
my_sample= my_df.sample(n=20, random_state=55023)

In [253]:
#  Display the Dimensions of Sample Data.
my_sample.shape

(20, 16)

In [255]:
# Display Sample Data Information.
my_sample.info

<bound method DataFrame.info of                              Transaction_ID                 Country  \
7575   99298f6d-4630-493f-a215-dba810d36228            Burkina Faso
7898   051dcf24-03f2-4d3e-b8e6-d3bddd298a57             Isle of Man
11534  5f0d9b14-56b3-4949-b0df-10cdfe78bd54               Argentina
10117  db46dd88-18d9-429f-825b-7c85c476714f                 Armenia
8867   e1c87ff9-ee9a-40c7-9b9a-3bbda7542293                Barbados
12824  ba62ff21-8575-4f17-adbe-2a22143e203f              Montenegro
9208   d7982e0b-6903-4c3f-9e15-8bb01820ef39              San Marino
8458   601e6607-6590-489d-b44c-c4c8db86b5ab                 Iceland
14978  7a9c79aa-e846-485e-9ea8-21f4d0c292ce                 Nigeria
6790   8ab692b0-263b-4358-859f-01aea493082b                Cambodia
14102  5de36257-dc2c-4b8a-9abb-3de378730643                 Belarus
8679   4aff0ca9-a3c0-41ad-89bb-af3b5ed8cf72    United Arab Emirates
2355   1a124068-815c-47ed-b795-71ddf67d2311                    Togo
1920   9d930454-e621-4ba4-9be0-1ab72c7db93f                 Lebanon
7393   e4fa9e2b-7855-45eb-85d8-fd5899ad17ad                  Turkey
6602   5e037835-e106-460c-b094-b78d6912e3e7                Slovenia
11250  ac457bb6-d02e-483b-bc3f-99a6f9b6a8b3  Libyan Arab Jamahiriya
10169  573652f0-b3f0-4fec-9850-bd5afaed5627                Barbados
7016   b1b38ddb-10c7-4842-8577-b4c9c6628572              San Marino
386    f57b8a92-0a12-43b3-a4fc-0dbad44f85e7                  Angola

           Product Import_Export  Quantity    Value        Date     Category  \
7575       hundred        Export      1052  3084.02  02-08-2024     Clothing
7898         style        Import      6333  8201.51  27-08-2022  Electronics
11534      subject        Export      7125  6643.86  18-06-2022    Machinery
10117        write        Export      9757   852.29  20-08-2022     Clothing
8867        region        Export      1156  1688.27  11-01-2024         Toys
12824         town        Export      8964  5818.59  20-10-2022    Furniture
9208      suddenly        Import      3218  1390.93  10-08-2024  Electronics
8458          hold        Export      8278  8175.93  18-11-2021    Furniture
14978          man        Import      6841  9287.25  02-02-2023    Furniture
6790          once        Export      6434  9699.45  25-08-2020  Electronics
14102         wall        Import      1570  2435.28  02-05-2023  Electronics
8679      marriage        Import      5257  8165.62  30-10-2023     Clothing
2355           cut        Export      3344  5568.45  16-11-2020         Toys
1920         enter        Export      3119  4857.95  10-02-2021     Clothing
7393        effort        Import      8170  1163.52  31-10-2019         Toys
6602         level        Import      8945  8939.74  19-05-2022  Electronics
11250          red        Import      2545  2684.24  18-09-2022    Machinery
10169  environment        Import      1465  6166.74  05-10-2019  Electronics
7016           six        Import      9820  2678.58  05-08-2020  Electronics
386        product        Export      1264  3876.04  06-01-2024    Machinery

                  Port  Customs_Code   Weight Shipping_Method  \
7575        Greeneland        203424  2619.91            Land
7898     South Amyport        238655  1504.02             Sea
11534       East April        727110   742.36             Air
10117      Gibsonmouth        526807   269.98            Land
8867      West Michael        760320  1165.13             Air
12824       South Lisa        845434  3047.82            Land
9208         Tylerside        112754  1600.98             Sea
8458     Stevensonfort        547283  1631.36            Land
14978         Troyland        635115   758.32             Air
6790       Crystalview        437323  1814.21             Air
14102  South Codyshire        850605  4301.99            Land
8679        Port Julie        603211   924.83             Sea
2355   Lake Sydneyport        154444  4656.01             Sea
1920    North Jennifer        421173   562.76            Land
7393         Duffyport        195948  4775.17            Land
6602        Christyton        796326  2337.92             Air
11250       Port Henry        833274  2928.56             Air
10169        Donnaview        166824  1070.41            Land
7016         Jonesport        680555  3518.75             Air
386        Rachelmouth        964665  3255.87            Land

                         Supplier            Customer  Invoice_Number  \
7575               Reynolds-Ortiz       Thomas Greene        67819102
7898                  Perez-Burns         Leah Gamble        86423608
11534             Lopez-Hernandez       Robert Rogers        61577279
10117               Little-Oliver          Lacey Ford        49929404
8867       Turner, Choi and Hodge      Michele Wright        95880720
12824    Nelson, Garrett and Moss           Emily Lee        96708013
9208     Reid, Holmes and Goodman        Frank Montes        57485172
8458     Bailey, Wells and Taylor        Rachel Jones        97433702
14978                Mckee-Hughes         Maria Wells        54844815
6790        Barton, Roy and Stein    Rebecca Lyons MD        87318676
14102  Wilson, Randall and Rivera     Jorge Contreras        38743122
8679                   Harris PLC      Heather Norris         7079930
2355                  Young Group       Raymond Combs        15670279
1920                 Lee-Martinez  Michael Barnes DVM           42026
7393                Smith-Lambert         Thomas Todd        64726296
6602                    Quinn Ltd    Jennifer Andrews        85076395
11250            Ramirez and Sons      Julie Santiago        37427456
10169    Mendoza, Lamb and Benson     Veronica Levine        50499620
7016              Cummings-Crosby       Lance Spencer        12254660
386        Poole, Dixon and Mason       Michael Dixon        29957401

          Payment_Terms
7575            Prepaid
7898            Prepaid
11534            Net 60
10117            Net 60
8867            Prepaid
12824            Net 60
9208             Net 60
8458            Prepaid
14978            Net 60
6790             Net 30
14102           Prepaid
8679            Prepaid
2355   Cash on Delivery
1920            Prepaid
7393             Net 30
6602   Cash on Delivery
11250           Prepaid
10169            Net 60
7016             Net 30
386    Cash on Delivery  >

In [257]:
# Display the First 05 Records of the Sample Data.
my_sample.head(5)

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
7575,99298f6d-4630-493f-a215-dba810d36228,Burkina Faso,hundred,Export,1052,3084.02,02-08-2024,Clothing,Greeneland,203424,2619.91,Land,Reynolds-Ortiz,Thomas Greene,67819102,Prepaid
7898,051dcf24-03f2-4d3e-b8e6-d3bddd298a57,Isle of Man,style,Import,6333,8201.51,27-08-2022,Electronics,South Amyport,238655,1504.02,Sea,Perez-Burns,Leah Gamble,86423608,Prepaid
11534,5f0d9b14-56b3-4949-b0df-10cdfe78bd54,Argentina,subject,Export,7125,6643.86,18-06-2022,Machinery,East April,727110,742.36,Air,Lopez-Hernandez,Robert Rogers,61577279,Net 60
10117,db46dd88-18d9-429f-825b-7c85c476714f,Armenia,write,Export,9757,852.29,20-08-2022,Clothing,Gibsonmouth,526807,269.98,Land,Little-Oliver,Lacey Ford,49929404,Net 60
8867,e1c87ff9-ee9a-40c7-9b9a-3bbda7542293,Barbados,region,Export,1156,1688.27,11-01-2024,Toys,West Michael,760320,1165.13,Air,"Turner, Choi and Hodge",Michele Wright,95880720,Prepaid

In [267]:
#Display the bottom 5 rows from the dataset using the tail() function.

bottom_rows = my_df.tail(5)
print(bottom_rows)

                             Transaction_ID           Country Product  \
14995  48df15a8-0823-4964-8c16-eddf2756f382  Marshall Islands     not
14996  31106617-94a6-4646-a001-5e7bd45abc26           Bermuda     air
14997  ee485839-fbde-4ced-af18-d98f5e863081          Tanzania    show
14998  5acd54aa-ec8c-4055-be8b-a447861a471c            Tuvalu      TV
14999  5cc039d0-a052-41fd-bfbb-c9f60c4565ac   North Macedonia    year

      Import_Export  Quantity    Value        Date   Category  \
14995        Export      2860  2055.19  09-07-2024  Furniture
14996        Export      2443  6407.06  18-06-2024  Furniture
14997        Export      1702  9918.29  30-04-2020       Toys
14998        Export      8108  9288.57  29-04-2021   Clothing
14999        Import      5635   561.33  25-12-2019   Clothing

                     Port  Customs_Code   Weight Shipping_Method  \
14995     South Karenfort        393463  4120.35            Land
14996         Jeffreyside        484143  1832.71             Air
14997  North Meganborough        354935  4203.52            Land
14998           Villafurt        234296  1597.72            Land
14999           West Gary        766709  2913.82             Air

                         Supplier        Customer  Invoice_Number  \
14995                 Smith-Lewis   Darlene Davis        29605073
14996                 Jones Group      John Ramos        39044695
14997               Barnes-Romero  Rebecca Phelps        78492040
14998  Smith, Allison and Bennett     Scott Yates        20799602
14999               Fleming-Miles    Steven Young        79237293

          Payment_Terms
14995            Net 60
14996  Cash on Delivery
14997            Net 30
14998  Cash on Delivery
14999            Net 30

In [269]:
# Drop irrelevant columns from the dataset using drop() function.
# Assuming 'df' is your DataFrame
bottom_rows = my_df.tail(5)
print(bottom_rows)

                             Transaction_ID           Country Product  \
14995  48df15a8-0823-4964-8c16-eddf2756f382  Marshall Islands     not
14996  31106617-94a6-4646-a001-5e7bd45abc26           Bermuda     air
14997  ee485839-fbde-4ced-af18-d98f5e863081          Tanzania    show
14998  5acd54aa-ec8c-4055-be8b-a447861a471c            Tuvalu      TV
14999  5cc039d0-a052-41fd-bfbb-c9f60c4565ac   North Macedonia    year

      Import_Export  Quantity    Value        Date   Category  \
14995        Export      2860  2055.19  09-07-2024  Furniture
14996        Export      2443  6407.06  18-06-2024  Furniture
14997        Export      1702  9918.29  30-04-2020       Toys
14998        Export      8108  9288.57  29-04-2021   Clothing
14999        Import      5635   561.33  25-12-2019   Clothing

                     Port  Customs_Code   Weight Shipping_Method  \
14995     South Karenfort        393463  4120.35            Land
14996         Jeffreyside        484143  1832.71             Air
14997  North Meganborough        354935  4203.52            Land
14998           Villafurt        234296  1597.72            Land
14999           West Gary        766709  2913.82             Air

                         Supplier        Customer  Invoice_Number  \
14995                 Smith-Lewis   Darlene Davis        29605073
14996                 Jones Group      John Ramos        39044695
14997               Barnes-Romero  Rebecca Phelps        78492040
14998  Smith, Allison and Bennett     Scott Yates        20799602
14999               Fleming-Miles    Steven Young        79237293

          Payment_Terms
14995            Net 60
14996  Cash on Delivery
14997            Net 30
14998  Cash on Delivery
14999            Net 30

In [271]:
# List the Names of Variables.
my_sample.columns

Index(['Transaction_ID', 'Country', 'Product', 'Import_Export', 'Quantity',
       'Value', 'Date', 'Category', 'Port', 'Customs_Code', 'Weight',
       'Shipping_Method', 'Supplier', 'Customer', 'Invoice_Number',
       'Payment_Terms'],
      dtype='object')

In [273]:
# Identify & list the following Variables:


#Index- Transaction_ID, Customs_Code, Invoice_Number, Product, Supplier, Customer
#Categorical- Nominal - Import_Export, Category, Shipping_Method, Payment_Terms, Country
#Categorical- Ordinal -
#Non-Categorical- Quantity, Value, Date, Port, Weight

In [275]:
# Subset the Non-Categorical Variables.
non_cat_df=my_sample[['Quantity', 'Value', 'Customs_Code','Weight']]
non_cat_df

       Quantity    Value  Customs_Code   Weight
7575       1052  3084.02        203424  2619.91
7898       6333  8201.51        238655  1504.02
11534      7125  6643.86        727110   742.36
10117      9757   852.29        526807   269.98
8867       1156  1688.27        760320  1165.13
12824      8964  5818.59        845434  3047.82
9208       3218  1390.93        112754  1600.98
8458       8278  8175.93        547283  1631.36
14978      6841  9287.25        635115   758.32
6790       6434  9699.45        437323  1814.21
14102      1570  2435.28        850605  4301.99
8679       5257  8165.62        603211   924.83
2355       3344  5568.45        154444  4656.01
1920       3119  4857.95        421173   562.76
7393       8170  1163.52        195948  4775.17
6602       8945  8939.74        796326  2337.92
11250      2545  2684.24        833274  2928.56
10169      1465  6166.74        166824  1070.41
7016       9820  2678.58        680555  3518.75
386        1264  3876.04        964665  3255.87

In [277]:
# Display the Descriptive Statistics of the Non-Categorical Set.
non_cat_df.describe()

         Quantity       Value   Customs_Code       Weight
count    20.00000    20.00000      20.000000    20.000000
mean   5232.85000  5068.91300  535062.500000  2174.318000
std    3184.80503  2986.85745  276775.274967  1400.463048
min    1052.00000   852.29000  112754.000000   269.980000
25%    2301.25000  2617.75500  229847.250000  1034.015000
50%    5795.00000  5213.20000  575247.000000  1722.785000
75%    8197.00000  8168.19750  769321.500000  3099.832500
max    9820.00000  9699.45000  964665.000000  4775.170000

In [178]:
#median for non-categorical
non_cat_df.median()

Quantity          5795.000
Value             5213.200
Customs_Code    575247.000
Weight            1722.785
dtype: float64

In [ ]:
#Analysis:The values indicate the medians for Quantity (5795.00), Value (5213.20), Customs_Code (575,247.00), and Weight (1722.785), reflecting the central tendency of each variable in the dataset.

In [179]:
#mode for non-categorical variables
non_cat_df.mode()

    Quantity    Value  Customs_Code   Weight
0       1052   852.29        112754   269.98
1       1156  1163.52        154444   562.76
2       1264  1390.93        166824   742.36
3       1465  1688.27        195948   758.32
4       1570  2435.28        203424   924.83
5       2545  2678.58        238655  1070.41
6       3119  2684.24        421173  1165.13
7       3218  3084.02        437323  1504.02
8       3344  3876.04        526807  1600.98
9       5257  4857.95        547283  1631.36
10      6333  5568.45        603211  1814.21
11      6434  5818.59        635115  2337.92
12      6841  6166.74        680555  2619.91
13      7125  6643.86        727110  2928.56
14      8170  8165.62        760320  3047.82
15      8278  8175.93        796326  3255.87
16      8945  8201.51        833274  3518.75
17      8964  8939.74        845434  4301.99
18      9757  9287.25        850605  4656.01
19      9820  9699.45        964665  4775.17

In [180]:
# B4.1. Subset and display the Categorical Variables.
cat_df = my_sample[['Import_Export', 'Category', 'Shipping_Method', 'Payment_Terms', 'Country']]
cat_df

,Import_Export,Category,Shipping_Method,Payment_Terms,Country
7575,Export,Clothing,Land,Prepaid,Burkina Faso
7898,Import,Electronics,Sea,Prepaid,Isle of Man
11534,Export,Machinery,Air,Net 60,Argentina
10117,Export,Clothing,Land,Net 60,Armenia
8867,Export,Toys,Air,Prepaid,Barbados
12824,Export,Furniture,Land,Net 60,Montenegro
9208,Import,Electronics,Sea,Net 60,San Marino
8458,Export,Furniture,Land,Prepaid,Iceland
14978,Import,Furniture,Air,Net 60,Nigeria
6790,Export,Electronics,Air,Net 30,Cambodia
14102,Import,Electronics,Land,Prepaid,Belarus
8679,Import,Clothing,Sea,Prepaid,United Arab Emirates
2355,Export,Toys,Sea,Cash on Delivery,Togo
1920,Export,Clothing,Land,Prepaid,Lebanon
7393,Import,Toys,Land,Net 30,Turkey
6602,Import,Electronics,Air,Cash on Delivery,Slovenia
11250,Import,Machinery,Air,Prepaid,Libyan Arab Jamahiriya
10169,Import,Electronics,Land,Net 60,Barbados
7016,Import,Electronics,Air,Net 30,San Marino
386,Export,Machinery,Land,Cash on Delivery,Angola

In [181]:
#Measures of Dispersion
#Range
non_cat_df.max()-non_cat_df.min()

Quantity          8768.00
Value             8847.16
Customs_Code    851911.00
Weight            4505.19
dtype: float64

In [ ]:
#Analysis: The provided values represent the means for Quantity (8768.00), Value (8847.16), Customs_Code (851,911.00), and Weight (4505.19), indicating the average measurements for each variable in the dataset.

In [182]:
#Skewness 
non_cat_df.skew()

Quantity        0.018142
Value           0.111080
Customs_Code   -0.210854
Weight          0.543040
dtype: float64

In [ ]:
#Analysis:The values indicate the coefficients of each variable: Quantity (0.018), Value (0.111), Customs_Code (-0.211), and Weight (0.543), suggesting their respective impacts on the dependent variable in the regression model.

In [183]:
#Kurtosis
non_cat_df.kurt()

Quantity       -1.614090
Value          -1.466761
Customs_Code   -1.387287
Weight         -0.848881
dtype: float64

In [ ]:
#Analysis: The provided values represent the standardized scores (z-scores) for Quantity (-1.61), Value (-1.47), Customs_Code (-1.39), and Weight (-0.85), indicating how many standard deviations each variable is below the mean.

In [184]:
#Correlation
non_cat_df.corr()

              Quantity     Value  Customs_Code    Weight
Quantity      1.000000  0.274486      0.112576 -0.078014
Value         0.274486  1.000000      0.042835 -0.318250
Customs_Code  0.112576  0.042835      1.000000  0.032863
Weight       -0.078014 -0.318250      0.032863  1.000000

In [ ]:
#Analysis: The correlation matrix indicates a moderate positive correlation between Quantity and Value (0.27), a moderate negative correlation between Value and Weight (-0.32), and negligible correlations among Customs_Code with other variables.

In [185]:
#Composite Measure 
#Coefficient of Variation
import statistics as stats
cv = (stats.stdev(non_cat_df['Quantity']) / non_cat_df['Quantity'].mean()) * 100 
cv

60.86176806877888

In [186]:
cv = (stats.stdev(non_cat_df['Weight']) / non_cat_df['Weight'].mean()) * 100 
cv

64.40930202373983

In [187]:
cv = (stats.stdev(non_cat_df['Value']) / non_cat_df['Value'].mean()) * 100 
cv

58.92500916025982

In [205]:
import numpy as np
import pandas as pd
import scipy.stats as stats

#Confidence Interval
mean_value = non_cat_df['Value'].mean()
std_dev = non_cat_df['Value'].std()
n = len(non_cat_df['Value'])

# Confidence level (95%)
confidence_level = 0.95
alpha = 1 - confidence_level

# Calculate the critical value for the t-distribution
critical_value = stats.t.ppf(1 - alpha/2, df=n-1)

In [207]:
# Calculate the margin of error
margin_of_error = critical_value * (std_dev / np.sqrt(n))

In [209]:
# Calculate confidence interval
confidence_interval = (mean_value - margin_of_error, mean_value + margin_of_error)

In [211]:
# Display results
print(f"Mean: {mean_value:.2f}")
print(f"Standard Deviation: {std_dev:.2f}")
print(f"Confidence Interval (95%): {confidence_interval}")

Mean: 5068.91
Standard Deviation: 2986.86
Confidence Interval (95%): (3671.0206836759908, 6466.80531632401)

In [ ]:
#Analysis: The mean is 5068.91 with a standard deviation of 2986.86, and the 95% confidence interval ranges from approximately 3671.02 to 6466.81, indicating where the true population mean is likely to fall.

In [215]:
#Inferential Statistics
#Test of Mean {t}
t_stats1 = stats.ttest_rel(non_cat_df['Quantity'], non_cat_df['Weight'])
print('T-Statistic, p_value and df: ', t_stats1)

significance_level = 0.05

if t_stats1.pvalue < significance_level:
    print('Signifiance difference between the means')
else:
    print('No Signifiance difference between the means')

T-Statistic, p_value and df:  TtestResult(statistic=3.82313617876366, pvalue=0.0011475393101866513, df=19)
Signifiance difference between the means

In [ ]:
#Analysis: The T-statistic of 3.82, a p-value of 0.00115, and 19 degrees of freedom indicate a significant difference between the means of the groups being compared.

In [219]:
#Test of Variance {F}
var_Quantity = np.var(non_cat_df['Quantity'], ddof = 1)
var_Weight = np.var(non_cat_df['Weight'], ddof = 1)

print('Variance of Quantity : ', var_Quantity)
print('Variance of Weight : ', var_Weight)

F = var_Quantity / var_Weight

dof1 = len(non_cat_df['Quantity']) - 1
dof2 = len(non_cat_df['Weight']) - 1

p_value = 1 - stats.f.cdf(F, dof1, dof2) # cdf = cumulative distribution function

p_value_2T = np.round(p_value * 2, 18)
print("p_value for 2 tail: ", p_value_2T)

significance_level = 0.05

if (p_value_2T < significance_level):
    print("The variances are significantly different")

else:
    print("The variances are not significantly different")

Variance of Quantity :  10142983.081578948
Variance of Weight :  1961296.7476273682
p_value for 2 tail:  0.000769824772856476
The variances are significantly different

In [ ]:
#Analysis: The variance of Quantity (10,142,983.08) and the variance of Weight (1,961,296.75) have a two-tailed p-value of 0.00077, indicating that the variances are significantly different.

In [223]:
#levene Test
stat, p_value = stats.levene(non_cat_df['Quantity'],non_cat_df['Value'],non_cat_df['Weight'], center = 'median')
print("levene's test stats: ", stat)
print("p_value: ", p_value)

significance_level = 0.05

if p_value < significance_level:
    print('Significant difference between the variances')

else:
    print('No significant difference between the variances')

levene's test stats:  10.72519969541441
p_value:  0.00011129389898521031
Significant difference between the variances

In [ ]:
#Analysis: Levene's test statistic of 10.73 and a p-value of 0.00011 indicate a significant difference between the variances of the groups being compared.

In [291]:
#Test of Proportion {z}
Pro_Weight = 0 # Sample proportion
for i in range(len(non_cat_df['Weight'])):
    n = non_cat_df['Weight'].iloc[i]
    if (5000 <= n <= 4700):
        Pro_Weight += 1
    
Size_Weight = len(non_cat_df['Weight'])

print('Sample proporation: ', Pro_Weight)
print('Sample size: ', Size_Weight)

hypothesize_proportion = 100  # Hypothesized quantity proportion

print('hypothesized proportion', hypothesize_proportion)

standard_error = (hypothesize_proportion * (1 - hypothesize_proportion) / Size_Weight) ** 0.5

z_stats = (Pro_Weight - hypothesize_proportion) / standard_error

p_value = 2 * (1 - stats.norm.cdf(abs(z_stats)))

print('Z-stats: ', z_stats)
print('p_value: ', p_value)

significance_level = 0.05

if p_value < significance_level:
    print('hypothesized proportion is significantly different from the proportion quantity')
else:
    print('hypothesized proportion is not significantly different from the proportion quantity')

Sample proporation:  0
Sample size:  20
hypothesized proportion 100
Z-stats:  (-2.7521890118373175e-16+4.494665749754947j)
p_value:  6.967931072798805e-06
hypothesized proportion is significantly different from the proportion quantity

In [ ]:
#Analysis- we assumed hypothesis proportion for weight to be 0, but there is not a single proportion here, that is why our hypothesis proprtion is different from actual proportion.

In [227]:
#Test of Normality 
#Shapiro-Wilk
def shapiro_test(sample, name):
    stat, p_value = stats.shapiro(sample)
    print("Shapiro-wilk Test for: ", name)
    print("Test stats: ", stat, " and p-value: ", p_value)

    significance_level = 0.05
    if p_value > significance_level:
        print("Fail to reject (sample is consistent with normality)")
    else:
        print("Reject (sample does not appear to be normally distributed)")


shapiro_test(non_cat_df['Quantity'], "Quantity")
print("\n")
shapiro_test(non_cat_df['Weight'], "Weight")
print("\n")
shapiro_test(non_cat_df['Value'], "Value")

Shapiro-wilk Test for:  Quantity
Test stats:  0.8956233232205212  and p-value:  0.034165531076202904
Reject (sample does not appear to be normally distributed)


Shapiro-wilk Test for:  Weight
Test stats:  0.9291184000160198  and p-value:  0.14849833410000118
Fail to reject (sample is consistent with normality)


Shapiro-wilk Test for:  Value
Test stats:  0.9222735348463513  and p-value:  0.1095962371082379
Fail to reject (sample is consistent with normality)

In [ ]:
#Analysis- It can be observed that quality is not normality distributed, but weight and value are normally distributed.

In [229]:
#Kolmogorov-Smirnov
statQ_W, p_valueQ_W = stats.ks_2samp(non_cat_df['Quantity'], non_cat_df['Weight'])
statW_V, p_valueW_V = stats.ks_2samp(non_cat_df['Weight'], non_cat_df['Value'])
statV_Q, p_valueV_Q = stats.ks_2samp(non_cat_df['Value'], non_cat_df['Quantity'])

print('Quantity and Weight test stats: ', statQ_W, 'p-value: ', p_valueQ_W)
print('Weight and Value test stats: ', statW_V, 'p-value: ', p_valueW_V)
print('Value and Quantity test stats: ', statV_Q, 'p-value: ', p_valueV_Q)

significance_level = 0.05
print('\n')

if p_valueQ_W > significance_level:
    print("Quantity and Weight are from same distribution (fail to reject)")
else:
    print("Quantity and Weight are from different distribution (rejected)")

print('\n')

if p_valueW_V > significance_level:
    print("Weight and Value are from same distribution (fail to reject)")
else:
    print("Weight and Value are from different distribution (rejected)")

print('\n')

if p_valueV_Q > significance_level:
    print("Value and Quantity are from same distribution (fail to reject)")
else:
    print("Value and Quantity are from different distribution (rejected)")

Quantity and Weight test stats:  0.55 p-value:  0.00396729438660086
Weight and Value test stats:  0.55 p-value:  0.00396729438660086
Value and Quantity test stats:  0.15 p-value:  0.9831368772656193


Quantity and Weight are from different distribution (rejected)


Weight and Value are from different distribution (rejected)


Value and Quantity are from same distribution (fail to reject)

In [ ]:
#Analysis: Quantity and Weight, as well as Weight and Value, are from different distributions (both rejected), while Value and Quantity are from the same distribution (fail to reject).

In [231]:
#Descriptive Data for Categorical Variables
cat_df.describe()

       Import_Export     Category Shipping_Method Payment_Terms   Country
count             20           20              20            20        20
unique             2            5               3             4        18
top           Export  Electronics            Land       Prepaid  Barbados
freq              10            7               9             8         2

In [289]:
#Proportion
# Calculate total
total = len(cat_df['Shipping_Method'])
total

20

In [243]:
#Minimum
cat_df.min()

Import_Export                Export
Category                   Clothing
Shipping_Method                 Air
Payment_Terms      Cash on Delivery
Country                      Angola
dtype: object

In [ ]:
#Analysis: After applying the `min` function in Python, the output indicates the lowest values or categories for each feature, highlighting the minimal attributes of the export transaction.

In [241]:
#Maximum
cat_df.max()

Import_Export                    Import
Category                           Toys
Shipping_Method                     Sea
Payment_Terms                   Prepaid
Country            United Arab Emirates
dtype: object

In [ ]:
#Analysis: After applying the `max` function in Python, the output indicates the highest values or categories for each feature, highlighting the maximum attributes of the export transaction.

In [239]:
#Mode
cat_df.mode()

  Import_Export     Category Shipping_Method Payment_Terms     Country
0        Export  Electronics            Land       Prepaid    Barbados
1        Import          NaN             NaN           NaN  San Marino

In [293]:
#Rank
cat_df.rank().head(1)

      Import_Export  Category  Shipping_Method  Payment_Terms  Country
7575            5.5       2.5             12.0           16.5      7.0

In [285]:
#Chi-sq Test {Test of Independence}

contingency_table = pd.crosstab(cat_df['Country'], cat_df['Import_Export'])
chi2_stat, p_val, dof, ex = stats.chi2_contingency(contingency_table)

print("Chi-squared Statistic:", chi2_stat)
print("p-value:", p_val)

Chi-squared Statistic: 18.0
p-value: 0.388840878567665

In [ ]:
#Analysis: 
#Since the Chi-squared statistic of 18.0 has a p-value of 0.389, it indicates no significant association between the categorical variables in the transaction dataset.